<p>Look up the weather by ZIP.</p>
<p>Once the user inputs 5 digits, use <code>Ember.$.get('/weather')</code> and set the result as <code>weather</code>.</p>
<label>ZIP code:</label>

<input type="number" oninput={{perform loadWeather value="target.value"}}>

{{#if weather}}
  <p>
    The weather is {{weather}}
  </p>
{{/if}}

{{#if loadWeather.isRunning}}
  <p>Loading...</p>
{{/if}}


