<div class="Panel">

  <div class="Panel__header">
    <a href="#" class="Panel__header__title" {{action "accordian"}}>
      Title here
    </a>
  </div>

  <div class="Panel__body {{if isExpanded "Panel__body--opened" "Panel__body--closed"}}">

    Body here

  </div>

</div>
